/* CSS cho giao diện trên máy tính */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 30px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

/* CSS cho giao diện trên điện thoại di động */
@media (max-width: 600px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        margin: 10px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }
}