html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;

}
.wrapper{
    border: 1px solid black;
    font-family:  Helvetica,sans-serif;
    font-size:14px;
    width: 1020px;
    margin:auto;
 
}
.container{
    display: flex;
    flex-wrap: wrap;

}
.title{
    margin: 20px;
    
}
.content{
    display: flex;
    width:900px;
    margin: 3px;
    flex-wrap: nowrap;
    /* padding-left: 50px;
    padding-bottom: 30px; */
    padding: 20px 40px 35px 40px;;
}
.left{
    border: 1px solid black;
    width: 400px;
    padding: 30px;
    margin-right: 20px;

}
.right{
    border: 1px solid black;
    width: 400px;
    padding: 30px;
   
}
.sum-row{
    display: flex;
}
.sum-row .row{
    padding-right: 20px;
}
.sum-submit{
    display: flex;
}
.sum-input-container{
    position:relative;
}
.input-container .field {
    width: 380px;
    height: 30px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #DCDCDC;
    border: none;
   
  
}
.input-container .money{
    position: absolute;
    right:10px;
    top:11px;
}
.input-container .money1{
    position: absolute;
    right:10px;
    top:11px;
}
.input-container .money2{
    position: absolute;
    right:10px;
    top:11px;
}
.input-container .money3{
    position: absolute;
    right:10px;
    top:11px;
}
.input-container{
    position: relative;
}

/* .input-container {
    position:relative;
    
} */
.sum-submit .submit{
    margin-top: 20px;
    
}
.sum-submit .submit .btn{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: #FFA500;
    border: none;
    color: white;
}
.left-check{
    margin-bottom: 20px;
}
.check {
    margin-bottom: 10px;
    width: 200px;
}
.check input{
    margin-right: 10px;
}
.row .field{
    width: 120px;
    height:25px;
    background-color: #DCDCDC;
}
.row .field2{
    width: 120px;
    height: 25px;
}
.row p{
    /* margin-bottom: 5px; */
    top: 60px;
    right: 15px;
}

