*{
    margin: 0;
    padding: 0;
    /* box-sizing: borde; */
}


.introduc{
    background-color: darkslategrey;
    border-spacing: 50px 20px;
    color: aliceblue;
    border:1px solid black; 
    margin: 10%;
}
.i{
   
    padding: 1.5px;
    /* background-color:orangered; */
    right:30%;
}
.submit{
    text-align: right;
    
        
}
.checkbox{
    text-align: center;
}
input[type=text]{
    margin: 0;
}
#icon{
    display: flex;
    background-color:orangered;
    align-items: center; 
    justify-content: center;
}
